/*ユーザー情報*/
#name_print {
  margin:0px;
}

/*client*/
.client {
  position: relative;
  margin: 1em 0;
  padding: 0.5em 1em;
  border: solid 3px #95ccff;
  border-radius: 8px;
  width: 30%;
}
.client .client_name {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #95ccff;
    font-weight: bold;
}
.client p {
    margin: 0;
    padding: 0;
}

/*user*/
.user {
    position: relative;
    margin: 1em 0;
    margin-right: 20%;
    padding: 0.5em 1em;
    border: solid 3px #E5004F;
    border-radius: 8px;
    width: 30%;
    float: right;
}
.user .user_name {
    position: absolute;
    display: inline-block;
    top: -13px;
    left: 10px;
    padding: 0 9px;
    line-height: 1;
    font-size: 19px;
    background: #FFF;
    color: #E5004F;
    font-weight: bold;
}
.user p {
    margin: 0;
    padding: 0;
}

.bms_clear {
    clear: both;
}

/* テキストエリア、送信ボタン④ */
#comment {
    background-color:#eee;
    border-right: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    height: 78px;
    padding: 4px;
}
#comment_area{
  width: 100%;
  line-height: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: left;
  box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2) inset;
  box-sizing: border-box;
}
